//COLOR
$color-primary: #130f49;
$color-secondary: #a5a6ff;
$color-tertiary: #ff972d;

$color-gray-light-1: #dcdcf9;
$color-gray-light-2: #f3f9ff;
$color-gray-light-3: #d3f4ec;
$color-gray-light-4: #fce8d4;

$color-dark-gray-1: #777;
$color-dark-gray-2: #999;
$color-dark-gray-3: #333;

$color-white: #fff;
$color-black: #000;

//FONT SIZE
$default-font-size: 1.4rem;

// GRID
$grid-width: 114rem;
